{% extends 'base.html.twig' %}

{% block title %}Book
{% endblock %}

{% block body %}


	<div class="min-h-fit sm:justify-center items-center pt-6 bg-gray-100 col-span-4">
		<div class="flex flex-col py-4 bg-white shadow-md overflow-hidden rounded-lg sm:m-10 m-2">
                {% if items |length > 0 %}
			<div class="grid">
				<table class="sm:text-base text-xs divide-y divide-gray-200 col-span-1">
                    <thead class='mb-2'>
                        <tr class='grid md:grid-cols-7 lg:grid-cols-8 grid-cols-5  sm:gap-4'>
                            
                            <th class='col-span-1 lg:block hidden'></th>
                            <th class='col-span-1'>Titre</th>
                            <th class=' col-span-1 md:block hidden'>Auteur</th>
                            <th class=' col-span-1 md:block hidden'>Editeur</th>
                            <th class=' col-span-1'>Prix unitaire</th>
                            <th class=' col-span-2'>Quantité</th>

                            <th class='col-span-1 sm:block'>Prix</th>
                           
                        </tr>
                    </thead>
                    <tbody>

                    {% set totalHT = 0 %} 
                        {% set TVA = 0 %} 
                    {% for item in items %}
                        <tr class='mt-2 grid md:grid-cols-7 lg:grid-cols-8 grid-cols-5 sm:gap-4'>

                            <td class='mx-auto col-span-1 lg:block hidden pb-2'><img class=' w-32' src={{ asset('uploads/images/' ~ item.products.photo)}} alt={{ item.products.photo }}></td>  
                            <td class='my-auto text-center col-span-1'>{{ item.products.title }}</td>  
                            <td class='my-auto text-center col-span-1 md:block hidden'>{{ item.products.author }}</td>
                            <td class='my-auto text-center col-span-1 md:block hidden'>{{ item.products.supplier}}</td>
                            <td class='my-auto text-center col-span-1'>{{ item.products.price * 1.20 }} €</td>

                            <td class='flex my-auto text-center col-span-2 justify-around '>
                                <a href="{{path('minus_panier',{'id': item.products.id})}}" class=" sm:w-10 sm:h-10 sm:px-3 sm:py-2 sm:mt-0 mt-1 w-6 h-6 focus:outline-none text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm  mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">-</a>
                                <p class='mt-2'>{{ item.quantity}}</p>
                                <a href="{{path('plus_panier',{'id': item.products.id})}}" class=" sm:w-10 sm:h-10 sm:px-3 sm:py-2  mr-0 sm:mt-0 mt-1 w-6 h-6focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">+</a>   
                                <a href="{{path('remove_panier',{'id': item.products.id})}}" class="sm:w-10 sm:h-10 sm:p-3 pl-1.5 pt-1.5 px-0 sm:mt-0 mt-1 w-6 h-6 bg-red-600 hover:bg-red-800 rounded-md drop-shadow-md">
                                    <svg class="fill-white sm:h-4 h-2/3 " x="0px" y="0px" width="sm:20 10" height="sm:20 10"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M 10 2 L 9 3 L 3 3 L 3 5 L 21 5 L 21 3 L 15 3 L 14 2 L 10 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z">
                                        </path>
                                    </svg>
                                </a>
                                </td>
                            {# <td class='mt-1 text-left col-span-1'>
                            </td> #}
                            {# <td class="col-span-1 "> <!-- Delete button -->

                            </td> #}
                            <td class='my-auto text-center col-span-1'>{{ (item.products.price * 1.20) * item.quantity}} €</td>
                        </tr>
                    {% set TVA = TVA + ((item.products.price * 0.20) * item.quantity) %}   
                    {% set totalHT = totalHT + (item.products.price * item.quantity) %}                         
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class='mt-2 grid sm:grid-cols-8 grid-cols-2 gap-4'>
                            <td class="text-left sm:col-span-4 sm:block hidden"></td>
                            <td class="text-right sm:col-span-3 col-span-1">prix total HT :</td>
                            <td class="sm:text-center col-span-1">{{totalHT}} €</td>
                        </tr>
                        <tr class='mt-2 grid sm:grid-cols-8 grid-cols-2 gap-4'>
                            <td class="text-left sm:col-span-4 sm:block hidden"></td>
                            <td class="text-right sm:col-span-3 col-span-1">TVA :</td>
                            <td class="sm:text-center col-span-1">{{TVA}} €</td>
                        </tr>
                            <tr class='mt-2 grid sm:grid-cols-8 grid-cols-2 gap-4'>
                            <td class="text-left sm:col-span-4 sm:block hidden"></td>
                            <td class="text-right sm:col-span-3 col-span-1">prix total :</td>
                            <td class="sm:text-center col-span-1">{{totalHT + TVA}} €</td>
                        </tr>
                    </tfoot>

               
				</table>	
			</div>
			<div class='flex justify-center items-center mt-5 sm:text-base text-xs'>
                <a class=" px-4 py-2 mt-4 bg-green-800 border border-transparent rounded-md font-semibold text-white uppercase tracking-widest hover:bg-green-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150 disabled" disabled="" href="{{ path('app_api') }}" >Valider panier</a>
			</div>
            {% else %}
            <p  class='flex justify-center items-center my-5  sm:text-2xl text-xl'>Votre panier est vide</p>
            <div class='sm:text-base text-xs flex justify-center items-center  mt-5'>
		        <a class="flex justify-center items-center px-4 py-2 mt-4 bg-gray-700 border border-transparent rounded-md font-semibold  text-white uppercase tracking-widest hover:bg-gray-900 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150" href="{{ path('app_catalogue') }}">back to list</a>
			</div>
            {% endif %}
		</div>
	</div>
{% endblock %}
