{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<div class=" min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100 ">
		<div class="flex flex-col w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
			{{ form_start(registrationForm) }}
			{{form_errors(registrationForm)}}
			{{ form_row(registrationForm.firstname) }}
			{{ form_row(registrationForm.lastname) }}
			{{ form_row(registrationForm.address) }}
			{{ form_row(registrationForm.city) }}
			{{ form_row(registrationForm.zipcode) }}
			{{ form_row(registrationForm.phone) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
			{{ form_row(registrationForm.agreeTerms) }}
			<div class='w-full flex justify-center'>
				<button class='inline-flex justify-center items-center px-4 py-2 mt-4 bg-green-800 border border-transparent rounded-md font-semibold text-sm text-white uppercase tracking-widest hover:bg-green-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150 ' type="submit">Register</button>
			</div>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
