{% extends 'admin.html.twig' %}

{% block title %}Book index
{% endblock %}

{% block body %}


	<div class="py-12 col-span-4 self-center">
		<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
			<div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
				<div class="p-6 bg-white border-b border-gray-200">
					<a class="flex justify-center items-center px-2 py-2 bg-blue-700 border border-transparent rounded-md font-semibold text-sm text-white uppercase tracking-widest hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:border-gray-100 focus:ring ring-gray-100 disabled:opacity-25 transition ease-in-out duration-150 w-fit" href="{{ path('app_book_new') }}">Create new book</a>
				</div>
			</div>
			<div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
				<div class="flex flex-col">
					<div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
						<div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
							<div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
								<table class="min-w-full divide-y divide-gray-200">
									<thead class="bg-gray-50">
										<tr>
											<th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Photo</th>
											<th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Title</th>
											<th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Price</th>
											<th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Stock</th>
											<th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ReleaseDate</th>
											<th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Published</th>
											<th scope="col" class="px-2 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">actions</th>
										</tr>
									</thead>
									<tbody>
										{% for book in books %}
											<tr>
												<td class="px-4 py-4 whitespace-nowrap inline-block h-40 w-40  rounded-full ring-2 ring-white "><img class=" h-full object-cover" src={{ vich_uploader_asset(book)}} alt={{ book.title }}>
												</td>
												<td class="px-2 py-2">{{ book.title }}</td>
												<td class="px-2 py-2">{{ book.price }}€</td>
												<td class="px-2 py-2">{{ book.stock }}</td>
												<td class="px-2 py-2">{{ book.releaseDate ? book.releaseDate|date('Y-m-d') : '' }}</td>
												<td class="px-2 py-2">{{ book.published ? 'Yes' : 'No' }}</td>
												<td class="flex justify-around px-2 py-2 whitespace-nowrap text-right text-sm font-medium">
													<a class="text-green-600 hover:text-green-900 uppercase" href="{{ path('app_book_show', {'id': book.id}) }}">details</a>
													<a class="text-indigo-600 hover:text-indigo-900 uppercase" href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
												</td>
											</tr>
										{% else %}
											<tr>
												<td colspan="11">no records found</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
